@import url(stylesGlobales.css);

body {
    background: var(--color-background);
    width: 100%;
}

header {
    width: 100%;
    height: 6vw;
    background: var(--color-background-oscuro);
    padding: 0.5vw 4vw;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

  
}

.usuario {
    width: 9vw;
    height: 3.5vw;
    background-color: var(--color-logo);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    gap: 1vw;
    
  
    img {
        width: 3.3vw;
        height: 3.3vw;
        text-align: center;
        border: 2px solid gray;
        border-radius: 100%;
    }


}

.usuario button {
    width: 4vw;
    height: 3.5vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    

    i {
        color: var(--color-texto-boton);
        font-size: 3vw;
        text-align: center;
    }
}


.logo {
   width: 5vw;
   height: 5vw;
          
}

.iconos {
    font-size: 2.6vw;
    color: var(--color-logo);
    display: flex;
    align-items: center;
    gap: 4vw;
    
}   

.iconos button {
    width: 2.8vw;
    height: 2.8vw;
    border: none;
    background-color: var(--color-logo);

    i{
        font-size: 2.8vw;
        color: var(--color-hover)
    }

}

/*desplegable menu*/

aside {
    width: 28%;
    height: auto;
    background: var(--color-background);
    border: 1px solid var(--color-hover);
    box-shadow: var(--box-shadow);
    display: none;
        
}


.menu {
 position: absolute;
 right: 0;
 padding: 2vw;
    
    button {
        position: absolute;
        right: 15px;
        text-align: right;
        align-items: first baseline;
        margin-right: 1vw;
        border-radius: 100%;
        width: 2.2vw;
        height: 2.2vw;
        text-align: center;
        border: none;
        cursor: pointer;
    
       img {
        width: 2.2vw;
        height: 2.2vw;
        text-align: center;
        margin-right: 2vw;
       }
    
    
    }

}

.menu ul {
    width: 100%;
    margin: 3vw 0;


    
    img {
        width: 4vw;
        height: 4vw;
        
    }


    a {
        color: var(--color-texto-comun);
        font-size: 2vw;
        font-family: var(--font-titulos);
        text-align: left;
    }
}

.menu ul li {
       
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
 
    padding: 5px;
   
}

.menu ul li:hover {
    background-color: var(--color-hover);
    cursor: pointer;
    width: 120%;
}

.menu .borde {
    border-bottom: 1px solid var(--color-hover);
}

/*desplegable perfil*/

.perfil-usuario {
    padding: 1.5vw 0;
}
   
.perfil-usuario .tarjeta {
    width: 85%;
    height: auto;
    background: var(--color-tarjeta);
    border: 1px solid var(--color-hover);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 2vw;
    margin: 2vw;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 4vw;
        height: 4vw;
    }

    h3 {
        font-family: var(--font-titulos);
        font-size: 2vw;
        color: var(--color-background-oscuro);
    }

    button {
        width: 3vw;
        height: 3vw;
        cursor: pointer;
        border: none;
    }

    i {
        font-size: 3vw;
    }

}

.encabezado-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-left: 7vw;
    font-size: 2vw;

    img {
        width: 3vw;
        height: 3vw;
    }

    button {
        border: none;
        cursor: pointer;
    }
}

.perfil-usuario .encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-titulos);
    color: var(--color-texto-comun);
    margin-bottom: 1.5vw;

    img {
        width: 3vw;
        height: 2vw;
        text-align: center;
    }

    button {
        border: none;
        cursor: pointer;
    }
}

/*cuerpo principal*/

.principal .tarjeta {
    width: 65%;
    height: auto;
    margin: 2.5vw auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background: var(--color-tarjeta);
    border: 1px solid var(--color-hover);

}


.importe {
    text-align: center;
    padding: 2vw 0;

    h3 {
        font-size: 2vw;
        font-family: var(--font-titulos);
        margin-bottom: 2.5vw;
    }

    a{
        color: var(--color-logo);
        margin-top: 2vw;
    }

    img {
        width: 15px;
        height: 15px;
    }

    button {
        width: 2.5vw;
        height: 2.5vw;
        text-align: center;
        cursor: pointer;
        border: none;
        background: transparent;
    }
}

.importe .cantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 3vw;

    h2 {
        color: #008A90;
        text-align: center;
        text-shadow: 0px 4px 4px #00000040;
        font-family: var(--font-titulos);
        font-size: 2em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }
}

.operaciones {
    padding: 5vw 0;


    ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
    
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
       
    }

    a {
        font-family: var(--font-comun);
        font-size: 1.5vw;
        color: var(--color-texto-comun);
    }

   
    img {
        width: 6vw;
        height: 5vw;
    }

}

.carrusel {
    width: 100%;
    height: 19vw;
    overflow: auto;
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 100%;
    box-sizing: content-box;
    padding: 1vw 0;

    img {
        width: 50vw;
        height: 17vw;
    }
}
.seguro, .prestamos {
    padding: 2vw;
    text-align: left;
    p {
        color: var(--color-texto-comun);
        margin-left: 1vw;
    }
}
.container-seguro, .container-prestamos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    img {
        width: 4.5vw;
        height: 3.5vw;
       
    }

    i {
        font-size: 3vw;
        color: var(--color-texto-comun);
        font-weight: 100;
    }
    
    h3{
        font-family: var(--font-titulos);
        font-size: 2vw;
        color: var(--color-texto-comun);
    }

}
.movimientos {
    padding: 4vw;

    a {
        text-align: center;
        color: var(--color-logo);
        font-family: var(--color-texto-comun);
        font-size: 1.2rem;
       justify-content: center;
    }

}
.container-cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        font-size: 1.3rem;
        font-family: var(--font-titulos);
    }
}
#monto-verde {
    color: var(--color-logo);
}

#monto-rojo {
    color: red;
}

.container-movimientos {
    display: block;

}

.individual-movimientos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e4e4e4;
    padding: 2vw;
    margin: 3vw 0;
    border-radius: 10px;

    img {
        border: 1px solid var(--color-texto-comun);
        border-radius: 100%;
        width: 3.2vw;
        height: 3.2vw;
    }

    p {
        color: var(--color-texto-gris);
        margin-top: 1vw;
    }

}

.detalle {
    text-align: left;
}

 .tarjeta-contacto {
   
   margin: 2vw auto;
   text-align: center;
   
    img {
        width: 65%;
        height: 45vw;
        margin-bottom: 3vw;
    }

    
    a{
        color: var(--color-texto-boton);
        font-size: 1.3rem;
        font-family: var(--font-titulos);
        position: absolute;
        left: 40%;
        top: 174vw;
        cursor: pointer;
       
    }

    a:hover {
        transform: scale(1.05);
    }
}










@media(max-width: 700px) {
    
    header {
        height: 8vw;
               
    }

    .usuario {
        width: 12vw;
        height: 5vw;
        padding: auto 0;

        i {
            font-size: 5vw;
        }

        img {
            width: 5vw;
            height: 5vw;
        }
    }

    .logo {
         width: 6vw;
         height: 6vw;
    }

    .iconos {

        i {
            font-size: 4vw;
        }

        button {
            width: 5vw;
            height: 4vw;
        }
    }

    aside {
        width: 50%;

        img {
            width: 6vw;
        }

        a {
            font-size: 4vw;
        }

      
    }

    .menu {

        button {
            width: 5vw;
            height: 5vw;
        }

        img {
            width: 4vw;
            height: 4vw;
        }
    }

    .menu ul li a {
        font-size: 4vw;

       
    }

    .menu ul li img {
        width: 7vw;
        height: 7vw;
    }
    
    .perfil-usuario {
       
        h3 {
            font-size: 3vw;
        }

        p {
            font-size: 2.5vw;
        }

    }

   .perfil-usuario .encabezado {

        button {
            width: 5vw;
            height: 5vw;
            background: transparent;

        }

        img {
            width: 5vw;
            height: 4vw;
        }
    }

    .principal .tarjeta {
        width: 91%;
        

        h2 {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 1rem;
        }

        

        li {
            font-size: 0.8rem;
        }

        p {
            font-size: 0.7rem;
            margin-top: 2vw;
        }
    }

    .importe img {
        width: 3vw;
        height: 3vw;
    }

    .operaciones {

        img {
        width: 10vw;
        height: 9vw;
        }
    }
    
    .carrusel {
        
        img {
            width: 55vw;
            height: 25vw;
           
        }
    }

    .seguro, .prestamos {
        padding: 4vw;

        i {
            font-size: 5vw;
        }

        img {
            width: 7vw;
            height: 6vw;
        }
    }

    .individual-movimientos {

        h3 {
            color: var(--color-texto-comun);
            font-weight: 100;
        }

        img {
            width: 7vw;
            height: 7vw;
        }

        .tarjeta-contacto {
            margin-top: 4vw;
           
            img {
                width: 91%;
                height: 45vw;
            }

            a {
                top: 250vw;
            }
        }

        footer {
            height: auto;
            padding-bottom: 15vw ;

                  
        }
    }





   
}