
@import url(stylesGlobales.css);

body {
    background: var(--color-background);
    width: 100%;
}


/*cuerpo principal*/

.principal .tarjeta {
    width: 65%;
    height: auto;
    margin: 2.5vw auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background: var(--color-tarjeta);
    border: 1px solid var(--color-hover);

}


.importe {
    text-align: center;
    padding: 2vw 0;

    h3 {
        font-size: 2vw;
        font-family: var(--font-titulos);
        margin-bottom: 2.5vw;
    }

    a{
        color: var(--color-logo);
        margin-top: 2vw;
        font-size: 1.3vw;
    }

    img {
        width: 1.2vw;
        height: 1.2vw;
    }

    button {
        width: 2.5vw;
        height: 2.5vw;
        text-align: center;
        cursor: pointer;
        border: none;
        background: transparent;
    }
}

.importe .cantidad {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 3vw;

    h2 {
        color: #008A90;
        text-align: center;
        text-shadow: 0px 4px 4px #00000040;
        font-family: var(--font-titulos);
        font-size: 2.3vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        
    }
}


.operaciones {
    padding: 5vw 0;


    ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    }
    
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.3vw;
    }

    a {
        font-family: var(--font-comun);
        font-size: 1.5vw;
        color: var(--color-texto-comun);
    }

   
    img {
        width: 6vw;
        height: 5vw;
    }

}

.carrusel {
    width: 100%;
    height: 19vw;
    overflow: auto;
    display: flex;
    align-items: center;
    gap: 1vw;
    width: 100%;
    box-sizing: content-box;
    padding: 1vw 0;

    img {
        width: 50vw;
        height: 17vw;
    }
}

.seguro, .prestamos {
    padding: 2vw;
    text-align: left;
   
    p {
        font-size: 1.3vw;
        color: var(--color-texto-comun);
        margin-left: 1vw;
    }
}

.container-seguro, .container-prestamos {
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        justify-content: left;
    }

    img {
        width: 4.5vw;
        height: 3.5vw;
       
    }

    i {
        font-size: 3em;
        color: var(--color-texto-comun);
        font-weight: 100;
    }
    
    h3{
        font-family: var(--font-titulos);
        font-size: 2vw;
        color: var(--color-texto-comun);
    }

}
.movimientos {
    padding: 4vw;

    a {
        text-align: center;
        color: var(--color-logo);
        font-family: var(--color-texto-comun);
        font-size: 1.5vw;
        justify-content: center;
        margin: 3% 40%;
    }

}

.container-cabecera {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
        font-size: 1.5vw;
        font-family: var(--font-titulos);
    }

    img {
        width: 5vw;
        height: 4vw;
    }
}
#monto-verde {
    color: var(--color-logo);
}

#monto-rojo {
    color: red;
}

.container-movimientos {
    display: block;

  }

.individual-movimientos {
    display: flex;
    text-align: center;
    justify-content: space-between;
    background: #e4e4e4;
    padding: 2vw;
    margin: 3vw 0;
    border-radius: 10px;

    img {
        border: 1px solid var(--color-texto-comun);
        border-radius: 100%;
        width: 3.2vw;
        height: 3.2vw;
    }

    p {
        font-size: 1.1vw;
        color: var(--color-texto-gris);
        margin-top: 1vw;
    }

    h3 {
        font-size: 1.4vw;
    }

}

.detalle {
    text-align: left;
}




   


@media(max-width: 700px) {
    
    .principal .tarjeta {
        width: 91%;
        

        h2 {
            font-size: 1.2rem;
        }

        h3 {
            font-size: 1rem;
        }

        

        li {
            font-size: 0.8rem;
        }

        p {
            font-size: 0.7rem;
            margin-top: 2vw;
        }
    }

  
    .contacto {
        width: 91%;
    }

    .centro {
        gap: 16vw;
                  
    }

    .botones {

        button {
        width: 8vw;
        height: 8vw;
        }

        img {
            width: 5vw;
            height: 5vw;
        }

    }

    .importe {
         a{
            font-size: 3.5vw;
         }
    }

    .importe img {
        width: 3vw;
        height: 3vw;
    }

    .operaciones {

        img {
        width: 10vw;
        height: 9vw;
        }
    }
    
    .carrusel {
        
        img {
            width: 55vw;
            height: 25vw;
           
        }
    }

    .seguro, .prestamos {
        padding: 4vw;

        i {
            font-size: 5vw;
        }

        img {
            width: 7vw;
            height: 6vw;
        }
    }

    .movimientos {

        a{
            font-size: 3.5vw;
        }

       img {
            width: 8vw;
            height: 7vw;
       }
    }

    .individual-movimientos {

        h3 {
            color: var(--color-texto-comun);
            font-weight: 100;
        }

        img {
            width: 7vw;
            height: 7vw;
        }

    }    

    .contacto {
       img {
        height: 280px;
       }
       
    }
              

}





   
