
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root {
    --font-comun: "Inter", serif;
    --font-titulos: "Domine", serif;
    --font-logo: "Orbitron", serif;
  
    --color-principal: #5CA8AD;
    --color-logo: #00ADB5;
    --color-hover: #D9D9D9;
    --color-background: #F5F3F3;
    --color-tarjetas: #FEFDFD;
    --color-background-oscuro: #27303EF2;
    
    --box-shadow: 2px 4px 10px 2px #6d6d6d40;
    --box-shadow-hover: 1px 4px 10px 0px #438290; 
   
    --color-texto-boton: #eeeeee;
    --color-texto-comun: #474747;
    --color-texto-gris: #818181;
    --color-titulos: #008A90;
}

/*header-principal*/
#header-principal {
    width: 100%;
    height: 6vw;
    background: var(--color-background-oscuro);
    padding: 0.5vw 4vw;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

  
}

.usuario {
    width: 9vw;
    height: 3.5vw;
    background-color: var(--color-logo);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-left: 1vw;
    gap: 1vw;
    
  
    img {
        width: 3.3vw;
        height: 3.3vw;
        text-align: center;
        border: 2px solid gray;
        border-radius: 100%;
    }


}

.usuario button {
    width: 4vw;
    height: 3.5vw;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
    background: transparent;
    cursor: pointer;
    

    i {
        color: var(--color-texto-boton);
        font-size: 3vw;
        text-align: center;
    }
}


.logo {
   width: 5vw;
   height: 5vw;
   cursor: pointer;      
}

.iconos {
    font-size: 2.6vw;
    color: var(--color-logo);
    display: flex;
    align-items: center;
    gap: 4vw;
    
}   

.iconos button {
    width: 2.8vw;
    height: 2.8vw;
    border: none;
    background-color: var(--color-logo);
    cursor: pointer;

    i{
        font-size: 2.8vw;
        color: var(--color-hover)
    }

}


/*desplegable menu*/

aside {
    width: 28%;
    height: auto;
    background: var(--color-background);
    border: 1px solid var(--color-hover);
    box-shadow: var(--box-shadow);
    z-index: 200;  
    display: none;
}

.cerrar-menu {
    display: none;
} 

.menu{
 
 position: absolute;
 z-index: 200;
 right: 0;
 padding: 2vw;
 top: 6vw;


    
    button {
        position: absolute;
        right: 15px;
        text-align: right;
        align-items: first baseline;
        margin-right: 1vw;
        border-radius: 100%;
        width: 2.2vw;
        height: 2.2vw;
        text-align: center;
        border: none;
        cursor: pointer;
    
       img {
        width: 2.2vw;
        height: 2.2vw;
        text-align: center;
        margin-right: 2vw;
       }
    
    
    }

}

.menu ul {
    width: 100%;
    margin: 3vw 0;


    
    img {
        width: 4vw;
        height: 4vw;
        
    }


    a {
        color: var(--color-texto-comun);
        font-size: 2vw;
        font-family: var(--font-titulos);
        text-align: left;
    }
}

.menu ul li {
       
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
 
    padding: 5px;
   
}

.menu ul li:hover {
    background-color: var(--color-hover);
    cursor: pointer;
    width: 120%;
}

.menu .borde {
    border-bottom: 1px solid var(--color-hover);
}

/*desplegable perfil*/

.perfil-usuario {
    padding: 1.5vw 0;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 6vw;
    
}
   
.perfil-usuario .tarjeta {
    width: 85%;
    height: auto;
    background: var(--color-tarjeta);
    border: 1px solid var(--color-hover);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    padding: 2vw;
    margin: 2vw;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        width: 4vw;
        height: 4vw;
    }

    h3 {
        font-family: var(--font-titulos);
        font-size: 2vw;
        color: var(--color-background-oscuro);
    }

    button {
        width: 3vw;
        height: 3vw;
        cursor: pointer;
        border: none;
    }

    i {
        font-size: 3vw;
    }

}

button .close {
    display: none;
    transition: ease 2s;
}

.encabezado-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
    margin-left: 7vw;
    font-size: 2vw;
   

    img {
        width: 3vw;
        height: 3vw;
    }

    button {
        border: none;
        cursor: pointer;
    }
}

.perfil-usuario .encabezado {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-titulos);
    color: var(--color-texto-comun);
    margin-bottom: 1.5vw;

    img {
        width: 3vw;
        height: 2vw;
        text-align: center;
    }

    button {
        border: none;
        cursor: pointer;
        
    }
}



/*footer*/

footer {
    width: 100%;
    height: 33vw;
    background: var(--color-background-oscuro);
    color:#eeeeee;
    padding-top: 5vw;
    font-family: var(--font-comun);
   
}

.relevante ul {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

    a {
        color: #eeeeee;
        padding: 10px;
        border-radius: 7px;
        font-size: 1.5vw;
    }
    
    a:hover {
        filter: opacity(50%);
    }

    li {
                       
        flex: 0 0 calc(33.333% - 6vw); /* Cada columna ocupa un tercio del ancho menos el espacio */
        margin-bottom: 3vw; /* Espaciado entre filas */
        box-sizing: border-box; /* Incluye padding y borde dentro del ancho del elemento */
        padding: 0 auto;     
          
    }
    
}

footer .integrantes {
    border-top: 1px solid var(--color-texto-gris);
    margin-top: 3vw;
    font-size: 1.7vw;
   
    h3 {
        color: #eeeeee;
        font-size: 1.5vw;
        margin-top: 2vw;
        text-align: center;
    }


ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.5vw 2vw;


    li {
        margin-top: 3vw;
    }

  
}

}

@media(max-width: 700px) {
    
    header {
        height: 25vw;
        padding: 4vw 0;
               
    }

    .usuario {
        width: 12vw;
        height: 5vw;
        padding: auto 0;

        i {
            font-size: 5vw;
        }

        img {
            width: 5vw;
            height: 5vw;
        }
    }

    .logo {
         width: 6vw;
         height: 6vw;
    }

    .iconos {

        i {
            font-size: 4vw;
        }

        button {
            width: 5vw;
            height: 4vw;
        }
    }

    aside {
        width: 50%;

        img {
            width: 6vw;
        }

        a {
            font-size: 4vw;
        }

      
    }

    .menu {

        button {
            width: 5vw;
            height: 5vw;
        }

        img {
            width: 4vw;
            height: 4vw;
        }
    }

    .menu ul li a {
        font-size: 4vw;

       
    }

    .menu ul li img {
        width: 7vw;
        height: 7vw;
    }
    
    .perfil-usuario {
       
        h3 {
            font-size: 3vw;
        }

        p {
            font-size: 2.5vw;
        }

    }

   .perfil-usuario .encabezado {

        button {
            width: 5vw;
            height: 5vw;
            background: transparent;

        }

        img {
            width: 5vw;
            height: 4vw;
        }
    }

    
    footer {
        height: auto;
        padding-bottom: 15vw;
        
        li {
            font-size: 0.7rem;
            
        }
              
    }

    .intregantes {
        margin-bottom: 1vw;
        margin-left: 0.4vw;
    }



}