
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}


:root {
    --font-comun: "Inter", serif;
    --font-titulos: "Domine", serif;
    --font-logo: "Orbitron", serif;
  
    --color-principal: #5CA8AD;
    --color-logo: #00ADB5;
    --color-hover: #D9D9D9;
    --color-background: #F5F3F3;
    --color-tarjetas: #FEFDFD;
    --color-background-oscuro: #27303EF2;
    
    --box-shadow: 2px 4px 10px 2px #6d6d6d40;
    --box-shadow-hover: 1px 4px 10px 0px #438290; 
   
    --color-texto-boton: #eeeeee;
    --color-texto-comun: #474747;
    --color-texto-gris: #818181;
    --color-titulos: #008A90;
  }