@import url(../../css/stylesGlobales.css);

header {
   
    width: 100%;
    height: 7vw;
    background: var(--color-background-oscuro);
    text-align: center;
    padding: 1vw;
   
}

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 0 auto;

    img {
    width: 5vw;
    height: 5vw;
    }

    h2 {
    font-family: var(--font-logo);
    font-size: 2.5vw;
    font-weight: 200;
    color: #eeeeee;
    font-family: var(--font-logo);
    }

}

.back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2.5vw auto;

    h1 {
        color: var(--color-logo);
        font-size: 2rem;
        font-family: var(--font-titulos);
        text-align: center;
        
    }

    i {
        font-size: 2.5rem;
        color: var(--color-logo);
        padding: 1vw;
        cursor: pointer;
      
    }

}

body {
    background: var(--color-background);
    width: 100%;
}

h2{
    margin-left: 19vw;
    font-size: 1.7em;
    margin-top: 1.6em;
}

.tarjeta {
    width: 65%;
    height: auto;
    margin: 2.5vw auto;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    background: var(--color-tarjeta);
    border: 1px solid var(--color-hover);

}

.agendar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2vw;
    
    h3 {
        font-size: 1.7rem;
    }

    i{
        font-size: 1.8rem;
    }

}

.encabezado {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
    
}


.agendar p{
    font-size: 1.6em;
    line-height: 1.6em;
}
.agendar svg{
    transform: rotate(180deg);
}

.tarjeta .agenda-item {
    display: flex;
    align-items: center;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
}

.tarjeta .agenda-item .agenda-svg {
    transform: rotate(180deg);
    margin-right: 10px;
}

.tarjeta .agenda-item a {
    padding: 15px;
    text-decoration: none;
    color: black;
    flex-grow: 1;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
}
.agenda-item a p{

    font-size: 1.8em;
}
.ver-todo{
    margin: 0 auto;
}

.tarjeta .agenda-item a:hover {
    background-color: var(--color-principal); /* Green color */
    color: white;
}

.input-cbu-alias {
    width: 90%;
    border: none;
    border-bottom: 1px solid #CCCCCC; /* Light grey bottom border */
    font-size: 1em;
    padding: 10px 0;
    outline: none;
    margin: 2em;
    background-color: var(--color-background) ;
}

.input-cbu-alias::placeholder {
    font-size: 1em;
    color: #888888; /* Softer placeholder color */
}

.cbu {
    margin-top: 6vw;
}